In [1]:
# criando ambiente virtual
!virtualenv jupyter

created virtual environment CPython3.8.5.final.0-64 in 733ms
  creator CPython3Windows(dest=C:\Users\diasg\Documents\dados\oficina-amostragem-dados-saude\traducao-dados\jupyter, clear=False, no_vcs_ignore=False, global=False)
  seeder FromAppData(download=False, pip=bundle, setuptools=bundle, wheel=bundle, via=copy, app_data_dir=C:\Users\diasg\AppData\Local\pypa\virtualenv)
    added seed packages: pip==22.0.4, setuptools==60.10.0, wheel==0.37.1
  activators BashActivator,BatchActivator,FishActivator,NushellActivator,PowerShellActivator,PythonActivator

In [2]:
# importando bibliotecas necessarias
import pandas as pd

In [3]:
# lendo banco de dados a ser traduzido
heart = pd.read_csv("heart.csv")

In [4]:
# qual a 'cara' de nosso dataset?
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# quantas variaveis e entradas o banco de dados possui?
heart.shape
# possui 303 entradas e 14 variaveis

(303, 14)

In [6]:
# renomeando nome de variaveis para português
coracao = heart.rename(columns={"age":"idade", "sex":"genero", "cp":"dp", "trestbps":"par", "chol":"col", "fbs":"glc", 
                        "restecg":"repecg", "thalach":"maxfc", "exang":"angex", "oldpeak":"pian", "slope":"incl",
                       "ca":"vp", "thal":"tal", "target":"alvo"})

In [7]:
# checando se variaveis foram renomeadas
coracao.columns

Index(['idade', 'genero', 'dp', 'par', 'col', 'glc', 'repecg', 'maxfc',
       'angex', 'pian', 'incl', 'vp', 'tal', 'alvo'],
      dtype='object')

In [8]:
# renomear atributos da variavel genero
# primeiro, transformar os atributos 0 e 1 em valores tipo string
coracao["genero"] = coracao["genero"].astype(str)

In [9]:
# renomeando atributos
coracao["genero"] = coracao["genero"].replace(str(0),'fem')
coracao["genero"] = coracao["genero"].replace(str(1),'masc')

In [10]:
# checando se atributos da variavel genero foram renomeados
coracao.head()

,idade,genero,dp,par,col,glc,repecg,maxfc,angex,pian,incl,vp,tal,alvo
0,63,masc,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,masc,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,fem,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,masc,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,fem,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
# gerando nomes aleatorios que serao anonimizados na oficina
# instalar bibliteca com nomes aleatorios
# !pip install br-nome-gen

In [12]:
# importando bibliote de nomes aleatorios
from br_nome_gen import pessoa_random

In [13]:
# ha quantos homens e mulheres no banco de dados?
coracao["genero"].value_counts()

masc    207
fem      96
Name: genero, dtype: int64

In [14]:
# criando coluna que recebera os nomes em index 0 das variaveis
coracao.insert(0, "nome", "")

In [15]:
# teste de criacao de nome aleatorio
p = pessoa_random()
p.nome

'Nicole Cavalcante Ualemoson'

In [16]:
# teste se nome eh masculino
p.masc

False

In [17]:
# adicionando nomes aleatorios para variavel "nome" baseado na variavel "genero"
for i, row in coracao.iterrows():
    p = pessoa_random()
    if coracao.at[i, "genero"] == "masc":
        while p.masc == False:
             p = pessoa_random()
        if p.masc == True:
            coracao.at[i, "nome"] = p.nome    
    else:
        while p.masc == True:
             p = pessoa_random()
        if p.masc == False:
             coracao.at[i, "nome"] = p.nome

In [18]:
# checando se alguma entrada possui valor inexistente para nome
coracao["nome"].isnull().values.any()

False

In [19]:
# como ficou nosso banco de dados
coracao.head()

,nome,idade,genero,dp,par,col,glc,repecg,maxfc,angex,pian,incl,vp,tal,alvo
0,Carlos Sebastião de Mendonça,63,masc,3,145,233,1,0,150,0,2.3,0,0,1,1
1,Nelson Chira,37,masc,2,130,250,0,1,187,0,3.5,0,0,2,1
2,Otávia Cavalcante Buarque,41,fem,1,130,204,0,0,172,0,1.4,2,0,2,1
3,Jack Fernando Clate,56,masc,1,120,236,0,1,178,0,0.8,2,0,2,1
4,Gisele Ribeiro de Ortega,57,fem,0,120,354,0,1,163,1,0.6,2,0,2,1

In [20]:
# exportando a planilha criada
coracao.to_csv("coracao.csv", index = False, encoding = "utf-8")
coracao.to_csv("coracao_windows.csv", index = False, encoding = "cp1252")